<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/style.css" />
    <title>Horizon Hotels</title>
  </head>
  <body>
    <div class="header">
      <a href="home" class="logo">Horizon Hotels</a>
      <div class="header-right">
        <a href="home">Home</a>
        <a class="active" href="login">Login</a>
      </div>
    </div>
    <div class="form">
      <p>Username:</p>
      <input type="text" name="uid" maxlength="30" size="16" />
      <p>Password:</p>
      <input type="password" name="pwin" maxlength="64" size="16" />
    </div>
  </body>
</html>
